@import url(main.css);


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

#cikk {
    padding: 10em;
    display: grid;
    justify-content: center;
    text-align: justify;
    line-height: 1.4;

}

@media (max-width: 768px) {

    img {
        max-width: 75%;
    }

    #cikk {
        padding: 1em;
        text-align: unset;
    }
}