@import url("main.css");

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.felirat {
    background-color: #001b3d;
    display: flex;
    color: white;
    font-size: 2vw;
    justify-content: center;
}

.flexDoboz {
    background-color: #001b3d;
    display: flex;
    flex-direction: row;
    gap: 25px 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexEgyed {
    flex: 0 0 18%;
}

@media (max-width: 768px) {


    img {
        max-width: 75%;
    }

    .felirat {
        font-size: 5vw;
    }

    .flexDoboz {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flexEgyed{
        flex: 0 0 75%;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

}