html,
body {

    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    letter-spacing: 0.1em;
    color: white;
    background-color: #001b3d;
}

a:link,
a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

.lenyilo {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.lenyiloTartalom {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 5px;
    background-color: rgba(0, 27, 61, 0.7);
    min-width: 220px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
}

.lenyiloTartalom a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.lenyiloTartalom a:hover {
    background-color: rgba(73, 0, 0, 0.7);
}

.lenyilo:hover .lenyiloTartalom,
.lenyilo:focus-within .lenyiloTartalom {
    display: block;
}

.gomb {
    background-color: rgba(0, 27, 61, 0.7);
    padding: 10px, 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    letter-spacing: 0.1em;
    color: white;
}

@media (max-width: 768px) {
    body {
        font-size: 5vw;
    }

    .gomb {
        font-size: 5vw;
    }

}