@import url(main.css);

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    gap: 1em;
    margin: 2em;
}

#galeria img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
}

.felirat {
    background-color: #001b3d;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
}

footer.jog {
    margin-top: 3em;
    text-align: center;
    font-size: 0.8em;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.gallery-title {
    margin-top: 0.5em;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.95);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;  
}

.overlay .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 90%;
    padding-top: 1em;
    box-sizing: border-box;
}

.overlay img {
    max-height: 85vh;
    max-width: 100%;
    height: auto;
    width: auto;
    flex-shrink: 0;
}

#overlay-title {
    margin-top: 0.5em;
    font-size: 1em;
}

#overlay-text {
    flex: 1;
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
    line-height: 1.4;
    white-space: pre-line;
    overflow-y: auto;
    min-height: 10vh;
  
}

.overlay .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay .prev,
.overlay .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay .prev {
    left: 10px;
}

.overlay .next {
    right: 10px;
}

@media (max-width: 768px) {
    .gallery-title{
        font-size: 0.9em;
    }

    .felirat{
        font-size: 0.9em;
    }

    .overlay{
        background-color: black;
    }

    .overlay img {
        max-height: 80vh;
        max-width: 100vw;
    }

    .overlay .prev,
    .overlay .next {
        top: 30%;
}

    #overlay-text {
        font-size: 0.9em;
        min-height: 30vh; 
  }

 }